@charset "utf-8";
body{
    background-color:lightblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}
h1{
    color: darkblue;
    background-color:lightblue;
}
h2{
    color: aliceblue;
}
p{
    text-align:justify;
}